html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}

.header {
    
}
.project-logo_header {
}
.h1_header {
}
.p_header {
}
.p_1-header {
}
