html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1440px;
    height: 769px;
    margin: 0 auto;
    padding: 0 250px;
    text-align: center;
}
.header {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.project-logo_header {
}
.header_items {
    padding-top: 46px;
}
.h1_header {
    margin-top: 300px;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
}
.p_header {
    margin-top: 11px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}
.p_1-header {
    text-transform: uppercase;
    margin-top: 220px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 3px;
    color: white;
}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 24px 1px 52px;
    border-bottom: 1px solid #ccc;
}
.container_navbar {
}
.navbar_img {
    margin-right: 17px;
}
.nav-list {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.09px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
li {
    margin-right: 47px;
}
li:last-child {
    margin-right: 0;
}
a {
    text-decoration: none;
    color: #48555B;
}
a:hover {
    color: #00A4E5;
    transition: all 0.5s ease;
}

/* about */
.about {
}
.container_about {
    margin: 58px 250px 118px;
    /* border:1px solid #00A4E5; */
}
.h3_about {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.3px;
    margin-bottom: 10px;
}
.line_about {
    width: 50px;
    height: 2px;
    border: 2px solid #00A4E5;
    margin: 0 auto;
}
.about_items {
    padding-top: 80px;
    display: flex;
}
.text_about {
    margin-right: 70px;
}
.h4_about {
    width: 408px;
    height: 81px;
    font-size: 20px;
    font-weight: 700;
    color: #48555B;
    margin-bottom: 22px;
}
.Konstruct_about {
    color: #16ACE8;
}
.p_about {
    width: 408px;
    height: 115px;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.38px;
}
.photo_about {
    display: flex;
    gap: 20px;
}
/* .photo_about:last-child {
    margin-right: 0;
} */
.image_plan, .image_manage, .image_build {
    position: relative; /* Контейнер для позиционирования текста */
    width: 100%;
    max-width: 500px; /* Ограничение ширины */
}

.text_plan, .text_manage, .text_build {
    position: absolute;
    top: 14%; /* Смещение сверху */
    left: 30%; /* Смещение слева */
    transform: translate(-50%, -50%); /* Центрирование */
    color: white;
    font-size: 24px;
    font-weight: 700;
    height: auto;
    padding: 15px;
    /* background-color: rgba(0, 0, 0, 0.5); Затемнение для читаемости */
    text-transform: uppercase;
}
.img_plan {
    width: 100%;
    height: auto;
}
.img_manage {
    width: 100%;
    height: auto;
}
.img_build {
    width: 100%;
    height: auto;
}
.text_manage {
    position: absolute;
    top: 14%; /* Смещение сверху */
    left: 30%; /* Смещение слева */
    transform: translate(-50%, -50%); /* Центрирование */
    color: white;
    font-size: 24px;
    font-weight: 700;
    height: auto;
    padding-left: 25px;
    /* background-color: rgba(0, 0, 0, 0.5); Затемнение для читаемости */
    text-transform: uppercase;
}

/* services */

.services {
    max-width: 940px;
    width: 446px;
    width: 100%;
    margin: 0 auto;
}
.container_services {
    /* border: 1px solid, red; */
    margin: 115px auto 118px;
    text-align: center;
}
.title_services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text_line_services {
    width: 199px;
    height: 36px;
}
.text_services {
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.31px;
}
.line_services {
    width: 50px;
    height: 2px;
    border: 2px solid #00A4E5;
    margin-top: 10px;
}
.p_services {
    width: 405px;
    height: 38px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 19px;
}
button {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    border: none;
}
.services_button {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
.items_services {
    display: flex;
    margin-top: 80px;
}
.item_project, .item_structure, .item_factory {
    width: 295px;
    height: 330px;
    max-width: 100%;
    /* border: 1px solid, rgb(50, 50, 152); */
    margin-right: 28px;
}
.img_services_project, .img_services_structure, .img_services_factory {
    padding: 32px 206px 27px 23px;
}
.services_project_text, .services_structure_text, .services_factory_text {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.43px;
    line-height: 24px;
    /* margin-bottom: 11px; */
}
.services_project_p, .services_structure_p, .services_factory_p {
    /* width: 250px;
    height: 92px; */
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 23px;
    padding: 11px 22px 39px 22px;
}
.item_factory {
    margin-right: 0;
}










