html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1440px;
    height: 769px;
    margin: 0 auto;
    padding: 0 250px;
    text-align: center;
}
.header {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.project-logo_header {
}
.header_items {
    padding-top: 46px;
}
.h1_header {
    margin-top: 300px;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 4px;
    color: white;
}
.p_header {
    margin-top: 11px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}
.p_1-header {
    text-transform: uppercase;
    margin-top: 220px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 3px;
    color: white;
}
/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 24px 1px 52px;
    border-bottom: 1px solid #ccc;
}
.container_navbar {
}
.navbar_img {
    margin-right: 17px;
}
.nav-list {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.09px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
li {
    margin-right: 47px;
}
li:last-child {
    margin-right: 0;
}
a {
    text-decoration: none;
    color: #48555B;
}
a:hover {
    color: #00A4E5;
    transition: all 0.5s ease;
}

/* about */
.about {
}
.container_about {
    margin: 58px 250px 118px;
    border:1px solid #00A4E5;
}
.h3_about {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.3px;
    margin-bottom: 10px;
}
.line_about {
    width: 50px;
    height: 2px;
    border: 2px solid #00A4E5;
    margin: 0 auto;
}
.about_items {
    padding-top: 80px;
    display: flex;
}
.text_about {
    margin-right: 70px;
}
.h4_about {
    width: 408px;
    height: 81px;
    font-size: 20px;
    font-weight: 700;
    color: #48555B;
    margin-bottom: 22px;
}
.Konstruct_about {
    color: #16ACE8;
}
.p_about {
    width: 408px;
    height: 115px;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.38px;

}
.photo_about {
    display: flex;
    gap: 10px;
}
.photo_about:last-child {
    margin-right: 0;
}
.img_plan {
}
.img_manage {
}
.img_build {
}



